 
/* style.css */

body {
    font-family: sans-serif;
    text-align: center;
}

#lista-ligada {
    margin: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

#lista-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#novo-elemento {
    padding: 5px;
    margin-bottom: 10px;
}

#adicionar {
    padding: 5px 10px;
    cursor: pointer;
}

#lista {
    list-style: none;
    padding: 0;
}

#lista li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

#lista li:last-child {
    margin-bottom: 0;
}

#lista li span {
    flex: 1;
}

#lista li button {
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}
